:root {
	--d: 2500ms;
    --bg: #111119;
    --btn-hvr: #fa2c93;
    --ftr: #131327;
}

html{
    scroll-behavior: smooth; /* Scrolling more Smooth */
}

a{
    text-decoration: none; /* No more underlined Links */
}

body{
    overflow-x: hidden; /* Hide horizontal scroll bars */
    background-color: var(--bg);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* cool font */
    width: 100vw; /* width of full screen */
    height: 100vh; /* height of full screen i think */
    color: white
}

.loader-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center; 
    align-items: center;
}

.loader {
    width: 37.5vh;
    height: 75vh;
    display: grid;
    color: #fff;
    background:
    linear-gradient(currentColor 0 0) top/100% 2px,
    radial-gradient(farthest-side at  top, #0000 calc(100% - 2px),currentColor calc(100% - 1px) ,#0000) top,
    linear-gradient(currentColor 0 0) bottom/100% 2px,
    radial-gradient(farthest-side at  bottom, #0000 calc(100% - 2px),currentColor calc(100% - 1px) ,#0000) bottom;
    background-size: 100% 1px,100% 50%; 
    background-repeat: no-repeat;
    animation: l18 16s infinite linear;
}

.loader::before, .loader::after {
    content: "";
    grid-area: 1/1;
    background: inherit;
    border: inherit;
    animation: inherit;
}

.loader::after {
    animation-duration: 8s;
}

@keyframes l18 {
    100% {transform: rotate(1turn)}
}

.buttons-container{
    display: flex;
    flex-wrap: wrap; /* wraps flex-elements if overflow */

    gap: 10vw;
    max-width: 100vw;
    margin-left: 5vw;
    margin-right: 5vw;

    justify-content: center;
    align-items: center;
}

.button{
    transition: all 0.5s ease-in-out;
    display: flex;
    color: white;
    font-size: 36px;
    font-weight: bold;
    justify-content: center;

    width: 40vh;
    height: 14vh;
    align-items: center;

    background-color: var(--btn);
    border-style: solid;
    border-color: white;
    border-radius: 3.5vh; /* rounds the edges of borders */
    border-width: 2px;
    box-shadow: 0 6px 8px gray;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.button:hover{
    transition: all 0.5s ease-in-out;
    transform: translateY(7px);

    background-color: var(--btn-hvr);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.button-ohn{
    transition: all 1.5s ease-in-out;
    display: flex;
    color: white;
    font-size: 36px;
    font-weight: bold;
    justify-content: center;

    width: 40vh;
    height: 14vh;
    align-items: center;

    background-color: var(--btn-hvr);
    border-style: solid;
    border-color: white;
    border-radius: 3.5vh;
    border-width: 2px;
    box-shadow: 0 6px 8px gray;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.button-ohn:hover{
    transition: all 2s ease-in-out;
    transform: rotate(1turn);

    background-color: var(--btn);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.footer {
    margin-top: 10%;
    bottom: 0;
    left: 100px;
    width: 100vw;
    height: 120px;
    z-index: 10;

    background-color: var(--ftr);
    border-top: #fa2c93;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
    border-style: solid;
    border-width: 1px;
}

.footer-text{
    text-align: center;
    color: white;
    text-shadow: 0px 0px 20px black;
}

.hrefs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20vw;
    margin-right: 20vw;
    gap: 12.5vw;
}

.hrefs a{
    color: var(--btn-hvr);
    font-weight: bold;
    transition: all 0.5s ease;
}

.hrefs:hover a{
    color: #ff74ba;
    transition: all 0.5s ease;
}